
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn-floating{
padding: 50px;
}
/* div>div.col{
    background-color: white;
} */

div > div.col >ul> li > a {
    font-size:medium;
    color: rgb(4, 42, 75); 
    
}


#btnListar{
    width: 100%;
}

.btn {
    width: 40%;
    margin-right: 100px;
    margin-left: 300px;
}

.modal {
    background-color: white;
  }

  
.textoError{
    width: 50%;
    margin: auto;
    font-size: x-small;
    text-align: center;
    color: red;
    border: solid 5px chocolate;
}
.textoCorrecto{
    font-size: x-small;
    text-align: center;
    color: rgb(71, 161, 73);

}